<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=640px">
	
	<title>WorkFar: Remote Work, Remote Jobs, Telecommunicating Jobs</title>
	<style>
		#logo {}
		body { background-color: #eeeeee !important;font-family: 'Lato', sans-serif; }
		#content { border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
		#content { opacity: 0.9; min-height: 600px; padding: 20px;margin: 0 auto;margin-top:-10px; width: 900px; background-color: #FFFFFF; }
		#header { background-color: #FFFFFF; width: 820px;position: fixed; height: 162px;z-index: 99999; margin-top: -10px; }
		.navbar-nav>li>a { color:#FFFFFF !important; } 
		.relative { position: relative; }
		.left { float:left; width:45%; }
		.right { float:right; width:45%; }
		#progress { overflow:none !important; position:relative;}	
		#percent { color:#FFFFFF; }
		#progress div { position:absolute; top:0px;z-index:3;}
		.ui-progressbar-value { display:block !important;}
		#progress .ui-widget-header { background-color: #2ECC71 !important;z-index:1; }
		.virtual_currency { cursor:pointer; }
 	</style>
	 <meta name="google-translate-customization" content="7656108e3fa3bfc6-88b80fbab8de5161-g9790740e8e8107bc-b"></meta>
	 <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/neefblcgikghniddcdcpicfkhfhidekh">
	 <script src="/view/ux/vex/dist/js/vex.combined.min.js"></script>
<script>vex.defaultOptions.className = 'vex-theme-os';vex.defaultOptions.closeAllOnPopState = false;</script>
<link rel="stylesheet" href="/view/ux/vex/dist/css/vex.css" />
<link rel="stylesheet" href="/view/ux/vex/dist/css/vex-theme-os.css" />
</head>
	<body onhashchange='var hash = location.hash.substr(1).split("&");Utility.Navigation.methods[hash[0]]();ga("send", "pageview", {"page": location.pathname + location.search  + location.hash });'>
		<div id='container'>
			<div id="content" class="relative">
				<div id="header">
					<img src='view/index/logo.gif' alt='remote jobs' id="logo" />
					<img src='view/index/loading.gif' width='64px' height='64px' id="loading" />
					
					<div style='float:right;background-color:#FFFFFF;' class='virtual_currency' id='silver'>
						<img  src='view/virtual_rewards/silver.jpg'  width='64px' height='64px' /><br />
						<p id='silver_value'> 0 </p>
					</div>
					<div id='gold' class='virtual_currency' style='float:right;background-color:#FFFFFF;'>
						<img src='view/virtual_rewards/gold.jpg' id='gold'  width='64px' height='64px' /><br />
						<p id='gold_value'> 0 </p>
					</div>
					<div id='diamonds' class='virtual_currency' style='float:right;background-color:#FFFFFF;'>
						<img src='view/virtual_rewards/diamonds.jpg' id='diamonds' width='64px' height='64px' /><br />
						<p id='diamonds_value'> 0 </p>
					</div>

					<br />
					<div id="progress" class="palette-wet-asphalt" style="border-right:1px solid #aaaaaa;">
					    <div class="percent"></div>
					    <div class="progress-label"></div>
					</div>
					<br />
				</div>
			</div>
		</div>
	<div id="dialog"> </div>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-61004855-1', 'auto');
	ga('send', 'pageview');

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-sanitize.min.js"></script>
	<link href="/view/ux/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="/view/ux/dist/css/flat-ui.min.css" rel="stylesheet">
	<link href="/view/jquery/css/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
	<script src="/view/jquery/jquery-1.10.2.js"></script>
	<script src="/view/jquery/jquery-ui-1.10.3.custom.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script src="view/utility.js" type="text/javascript"></script>
	<script type="text/javascript">
		var loginFormOpen = false;
		$(document).ready(function() {

			$("#logo_container").hover(function() {
				$("#logo").hide();
				$("#animated_logo").show();

			},function() {
				$("#logo").show();
				$("#animated_logo").hide();

			});
			$(window).bind('hashchange', function() {
				var hash = window.location.hash.replace(/^#/,'');
			});
			Utility.Form.get("isLoggedIn", function(jLoggedInResult) {
				var oLoginResult = $.parseJSON(jLoggedInResult);
				if ( oLoginResult[0] == true ) {
					Utility.Form.get("my_currency", function(jMyCurrency) {
						var oMyCurrency = $.parseJSON(jMyCurrency);
						$("#diamonds_value").html(oMyCurrency[2]['value']);
						$("#gold_value").html(oMyCurrency[1]['value']);
						$("#silver_value").html(oMyCurrency[0]['value']);
						Utility.Form.get("view/members/worker/worker.html", function(data) {
							$('#content').append(data);
						});
					});
				} else { window.location = "https://workfar.com" }
			});
			$(".hover_logo").hover(function() {
				$(this).css("color","#2ECC71");
			},function () {
				$(this).css("color","#000000");
			});
		});
		</script>
		<script src="view/ux/dist/js/flat-ui.min.js"></script>
		<script type='text/javascript'>
			$(document).ready(function(){
				Utility.Navigation.setPath("");
				   $('meta[name="viewport"]').prop('content', 'width=900');

   var remin = /(min-width\s*:\s*768px)|(min-width\s*:\s*980px)/i; 
var remax = /(max-width\s*:\s*979px)|(max-width\s*:\s*767px)|(max-width\s*:\s*480px)|(max-width\s*:\s*1049px)/i;
function removeRWD() {
	var styleSheets = document.styleSheets;
	if (!styleSheets) return;

	for (var i = 0; i < styleSheets.length; i++) {
		var cssRules = styleSheets[i].cssRules;
		if (!cssRules) continue;

		for (var j = 0; j < cssRules.length; j++) {
			if (cssRules[j] instanceof CSSMediaRule) {
				if (cssRules[j].media.mediaText.match(remin) != null) {
					cssRules[j].media.mediaText = "";
				}
				if (cssRules[j].media.mediaText.match(remax) != null) {
					cssRules[j].media.mediaText = "(max-width:1px)";
				}
			}

		}
	}
}
removeRWD();
			});
		</script>
	</body>
</html>