# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /view/home/

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteEngine On
RewriteRule ^(.*)$ /view/home/index.php?request=$1

php_value session.gc_maxlifetime 57600